<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="libs/angular.min.js"></script>
<script src="js/module.js"></script>
<script src="js/model.js"></script>
<script src="js/controller.js"></script>
</head>
<body ng-app="shopmodule" ng-controller="myctrl">
<h1>Shopping App</h1>
<a href="#" ng-click="getMobile()">Mobile</a>

<ul>
	<li ng-repeat="currentmobile in result. data.mobiles">
		Name: {{currentmobile.name}}
		Price : {{currentmobile.price}}
		<img ng-src="{{currentmobile.image}}">
	</li>
</ul>
	
</body>
</html>